app:
  postgres:
    enabled: true

  global:
    name: gm-diploma-project
    namespace: default
    serviceAccountName: gm-diploma-project-sa
    ingress:
      enabled: true
      className: alb
      host: preview.elsys.itgix.eu
      annotations:
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'

  apps:
    backend:
      replicaCount: 1 
      containerPort: 4000
      image:
        repository: 787587782604.dkr.ecr.eu-central-1.amazonaws.com/gm-diploma-project-ecr-api
        tag: latest 
        pullPolicy: Always
      service:
        port: 4000
      ingressPath: /api
      env:
        - name: DB_HOST
          value: "postgres"
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: "gmdiplomaprojectdb"
        - name: DB_USER
          value: "postgres"
        - name: DB_PASSWORD
          value: "password"
        - name: DATABASE_URL
          value: "postgresql://$(DB_USER):$(DB_PASSWORD)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)"

    frontend:
      replicaCount: 1
      containerPort: 3000
      image:
        repository: 787587782604.dkr.ecr.eu-central-1.amazonaws.com/gm-diploma-project-ecr-frontend
        tag: latest 
        pullPolicy: Always
      service:
        port: 80
      ingressPath: /
      env:
        - name: NEXT_PUBLIC_API_URL
          value: "/api"